body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 20px 50px;
    padding: 20px;
    border: 1px solid rgb(4, 0, 32);
}
.box{
    width: 320px;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* //align the box elements to center */


    align-items: center;
}

.box_ele{
    width: 90%;
    margin: 10px ;
    font-size: 18px;
    color: rgb(77, 4, 77);
    border: 0.7px solid rgb(207, 147, 207);
}
h1{
    text-align: center;
    color: rgb(17, 1, 94);
}
.menu{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
h3{
    text-align: center;
    color: rgb(94, 4, 94);
}
#opMessage{
    color: rgb(34, 94, 54);
    font-weight: 600;
    font-size: 18px;
    display: none;
}